@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    padding: 0px;
    
}
body{
    background-image: url("./assets/photo-1585773818428-b50bebdc2344.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.top{
    box-shadow: 1vw 1vw 1vw black;
    display: flex;
    border-radius: 1vw;
    
}
.logo{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    margin-left: 1vw;
    
    position: relative;
}
h1{
    color: white;
    font-family: Luckiest Guy;
    font-size: 7vw;
    /* font-style: normal; */
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1vw;    
    position: absolute;
    margin-left: 15vw;
    margin-top: 2vw;
    
}
ul{
    display: flex;
    margin-left: 35vw;
    list-style-type: none;
}
li{
    color: white;
    font-family: Luckiest Guy;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 2.9vw;
    margin-left: 11vw;
    
}
.heading{
    display: flex;
    background-color: rgb(51 74 46 / 83%);
    box-shadow: 1vw 1vw 1vw black;
    width: 60vw;
    /* height: 50vh; */
    border-radius: 2vw;
    /* margin-left: 1vw; */
    position: relative;
    top: 4vw;
}
h4{
    color: white;
    font-family: Luckiest Guy;
    font-size: 23px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 3vh;
    margin-left: 5vh;
    text-align: left;
}
.serve{
    width: 55vw;
    height: 40vw;
    margin-left: 43vw;
    margin-top: -30vw;
    
}
input{
    width: 25vw;
    height: 3vw;
    color: black;
    font-family: Luckiest Guy;
    font-size: 2vw;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    background-color: rgb(240, 255, 255);
    margin-left: 35vw;
    /* margin-top: 5vw; */
    border-radius: 2vh;
    box-shadow: 1vw 1vw 1vw black;
}